<div class="container">
  <h1>sView – бесплатный стерео 3D-плеер под Windows, Linux и OS X</h1>

  <section class="info">
    <h2>sView</h2>
    <strong>sView</strong> - это программа для просмотра <strong>стереоскопических</strong>
    изображений и воспроизведения видео.
  </section>

  <section class="download-instruction">
    <ul>
      <li>
        <h2>Download</h2>
        Данную программу можно установить с официального сайта разработчика.
        <div class="download-btn">
          <a mat-flat-button color="primary" href="http://www.sview.ru/ru/download/">
            Скачать
          </a>
        </div>
      </li>
      <li>
        <h2>ШАГ 1 выбор языка</h2>
        Перед инсталляцией сразу предлагается выбрать язык интерфейса из трёх доступных:
        русский, английский, французский.  Впрочем, немного забегая вперёд, могу сказать,
        что язык интерфейса с лёгкостью можно поменять уже непосредственно в процессе
        эксплуатации в меню “Помощь=>Language”.
        <div class="img">
          <img src="../../../assets/download/language.jpg">
        </div>
      </li>
      <li>
        <h2>ШАГ 2 полная и выборочная установка</h2>
        При выборе варианта “Выборочная установка”  предлагается настроить список доступных
        в будущем опций.
        <div class="img">
          <img src="../../../assets/download/options.jpg">
        </div>
      </li>
      <li>
        <h2>ШАГ 3 Выбор файлов которые будут ассоцироватся с данным полеером </h2>
        Предлагается при желании ассоциировать популярные типы различных мультимедийных файлов
        (не только стерео) с этим проигрывателем.
        <div class="img">
          <img src="../../../assets/download/format.jpg">
        </div>
      </li>
    </ul>
  </section>
</div>

