<mat-toolbar color="primary" class="nav-bar">
  <div class="logo">
    <a [routerLink]="''">Stereo</a>
  </div>
  <div>
    <span><a [routerLink]="'/news'">Новости</a></span>
    <span><a [routerLink]="'/instruction'">Инструкция</a></span>
    <span><a [routerLink]="'/pictures'">Картинки</a></span>
    <span><a [routerLink]="'/movies'">Видео</a></span>
    <span><a [routerLink]="'/download'">Скачать программу</a></span>
    <span><a [routerLink]="'/contacts'">Наши контакты</a></span>
  </div>
</mat-toolbar>
